Packages/
dtbo/devicetree/
dtbo/pl.dtbo
hls/camera_rotate_proj/
hls/vitis_hls.log
target/
vitis/.analytics
vitis/.metadata/
vitis/IDE.log
vitis/RemoteSystemsTempFiles/
vitis/ip_cache/
vitis_hls.log
xrc.log
extras/certificate.pem
extras/privatekey.pem
vitis/camera_rotate/src/webpage.hpp
